[[processors.regex]]
{% if regex_namepass is defined and regex_namepass|length > 0 %}
  namepass = {{ regex_namepass | to_json }}
{% endif %}
{% if regex_order is defined %}
  order = {{ regex_order }}
{% endif %}

{% for field in regex_fields %}
  [[processors.regex.fields]]
    key = "{{ field.key }}"
    pattern = "{{ field.pattern }}"
    replacement = "{{ field.replacement }}"
{% if 'result_key' in field %}
    result_key = "{{ field.result_key }}"
{% endif %}

{% else %}
{% endfor %}

{% for tag in regex_tags %}
  [[processors.regex.tags]]
    key = "{{ tag.key }}"
    pattern = "{{ tag.pattern }}"
    replacement = "{{ tag.replacement }}"
{% if 'result_key' in tag %}
    result_key = "{{ tag.result_key }}"
{% endif %}

{% endfor %}
