$ActionQueueType LinkedList
$ActionQueueFileName srvrfwd
$ActionResumeRetryCount -1
$ActionQueueSaveOnShutdown on

{% if syslog_use_tcp | bool %}
action(
  type="omfwd"
  Protocol="tcp"
  TCP_Framing="octet-counted"
  Target="127.0.0.1"
  Port="6514"
  Template="RSYSLOG_SyslogProtocol23Format"
)
{% else %}
action(
  type="omfwd"
  Protocol="udp"
  Target="127.0.0.1"
  Port="6514"
  Template="RSYSLOG_SyslogProtocol23Format"
)
{% endif %}
